.face-snap-card {
  margin: 10px;
  background-color: rgb(217, 242, 248);
}

.snapped {
  background-color: rgb(223, 245, 202);

  button {
    background-color: rgb(144, 235, 138);
    color: rgb(0, 13, 0);

    &:active {
      box-shadow: rgb(5, 5, 5) 0 0 5px;
    }
  }
}
